extends ./partials/layout 
block content
    #home
        include ./partials/header
        #landing.bottom-clip.content
                .content-text-container
                    .desc.container
                        h1 We are Asia's leading  enable live Event Organiser, who provides quality education online and offline, through partnering with top experts around the Globe.
                        #countdown.fl
                            .fl-itm
                                svg#day
                                    circle.outline(cx="50%", cy="50%", r="80")
                                    circle.cover(cx="50%", cy="50%", r="80")
                                    text(x="50%", y="50%") 
                                        tspan.time(dy='1.2em', x='50%', y="30%")
                                        tspan.unit(dy='1.2em', x='50%', y="50%")
                            .fl-itm
                                svg#hour
                                    circle.outline(cx="50%", cy="50%", r="80")
                                    circle.cover(cx="50%", cy="50%", r="80")
                                    text(x="50%", y="50%") 
                                        tspan.time(dy='1.2em', x='50%', y="30%")
                                        tspan.unit(dy='1.2em', x='50%', y="50%")
                            .fl-itm
                                svg#min
                                    circle.outline(cx="50%", cy="50%", r="80")
                                    circle.cover(cx="50%", cy="50%", r="80")
                                    text(x="50%", y="50%") 
                                        tspan.time(dy='1.2em', x='50%', y="30%")
                                        tspan.unit(dy='1.2em', x='50%', y="50%")
                            .fl-itm
                                svg#sec
                                    circle.outline(cx="50%", cy="50%", r="80")
                                    circle.cover(cx="50%", cy="50%", r="80")
                                    text(x="50%", y="50%") 
                                        tspan.time(dy='1.2em', x='50%', y="30%")
                                        tspan.unit(dy='1.2em', x='50%', y="50%")
                            button.btn(type='button') INVEST NOW

        #profit.mid-clip.content
            .angled-container
                h1.title PROFIT FROM IMC IN 4 DIFFERENT WAYS
                .separator
                .row
                    each val in data
                        .col-sm-3
                            .col-container
                                .card(style='width: 20em')
                                    .card-block
                                        h4.card-title= val.title
                                        p.card-text= val.content
        #whyIMM.mid-clip.content
            .angled-container
                h1.title-inverted WHY IMM COIN
                .separator-inverted
                .container
                    .fl#wic
                        .fl-item
                            .svg-container
                                include ../../assets/images/whyIMM/trade.svg
                            .title BUY & SELL STOCKS WITHOUT A BROKER
                            .desc Save on commissions and bank fees when buying and selling digital assets.
                        .fl-item
                            .svg-container
                                include ../../assets/images/whyIMM/fullControl2.svg
                            .title FULL CONTROL OF YOUR ASSETS
                            .desc You can manage your assets on your own.
                        .fl-item
                            .svg-container
                                include ../../assets/images/whyIMM/security.svg
                            .title SEIZURE RESISTANCE
                            .desc Only you can access your assets and therefore no third party is involved.
                        .fl-item
                            .svg-container
                                include ../../assets/images/whyIMM/clock.svg
                            .title REALTIME TRANSACTIONS
                            .desc Your "buy" and "sell" orders get executed in realtime on the blockchain. Its a decentralised network that is always 24/7 accessible.
                
        #timeline.mid-clip.content

            
        #team.mid-clip.content
            .angled-container
                h1.title-inverted IMM TEAM
                .separator-inverted
                .container
                    .fl#members-container
                        each val in members
                            .team-card-container.fl-itm
                                .team-img-container
                                    .img-container
                                        img(src='' + val.image +'')
                                .team-name= val.name
                                .team-position= val.position
                                .team-description= val.description
                                .team-links
                                    if val.links.facebook
                                        a(href=val.links.facebook, target='_blank')
                                            i.fa.fa-facebook
                                    if val.links.linkedin
                                        a(href=val.links.linkedin, target='_blank')
                                            i.fa.fa-linkedin
                h1.title-inverted ADVISERS
                .separator-inverted
                .container
                    .fl
                        each val in advisers
                            .team-card-container.fl-itm
                                .team-img-container
                                    .img-container
                                        img(src='' + val.image +'')
                                .team-name= val.name
                                .team-position= val.position
                                .team-description= val.description
                                .team-links
        #about.mid-clip.content

        #contact.mid-clip.content
            .angled-container-cover
                .fl-container
                    .fl-col-6
                        h1.title-inverted REACH US
                        .separator-inverted
                    .fl-col-6
                        .fl-container
                            .fl.fl-col-6
                                .social-img-container
                                    img(src='/images/social/facebook.png')
                            .fl.fl-col-6
                                .social-img-container
                                    img(src='/images/social/twitter.png')
                            .fl.fl-col-6
                                .social-img-container
                                    img(src='/images/social/reddit.png')
                            .fl.fl-col-6
                                .social-img-container
                                    img(src='/images/social/telegram.png')
                            .fl.fl-col-6
                                .social-img-container
                                    img(src='/images/social/slack.png')
                            .fl.fl-col-6
                                .social-img-container
                                    img(src='/images/social/bitcointalk.png')
                            .fl.fl-col-6
                                .social-img-container
                                    img(src='/images/social/wordpress.png')
                            .fl.fl-col-6
                                .social-img-container
                                    img(src='/images/social/github.png')
        #faq.mid-clip.content
            .angled-container-cover
                h1.title FREQUENTLY ASKED QUESTIONS
                .separator
                #accordion.tablist
                    .card
                        #headingOne.card-header(role='tab')
                            h5.mb-0 
                                a(data-toggle='collapse', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne') WHAT IS IMM COIN?
                        #collapseOne.collapse.show(role='tabpanel', aria-labelledly='headingOne', data-parent='#accordion')
                            .card-body A privately issued cryptocurrency that lives on the iMM platform and BitShares network.
                    .card
                        #headingTwo.card-header(role='tab')
                            h5.mb-0 
                                a(data-toggle='collapse', href='#collapseTwo', aria-expanded='true', aria-controls='collapseTwo') WHAT IS IMM COIN USED FOR?
                        #collapseTwo.collapse(role='tabpanel', aria-labelledby='headingTwo', data-parent='#accordion')
                            .card-body To raise money for online and offline education development and to bypass the legacy banking system.
                    .card
                        #headingThree.card-header(role='tab')
                            h5.mb-0 
                                a(data-toggle='collapse', href='#collapseThree', aria-expanded='true', aria-controls='collapseTwo') HOW DOES IMM COIN WORK?
                        #collapseThree.collapse(role='tabpanel', aria-labelledby='headingThree', data-parent='#accordion')
                            .card-body People will buy iMM Coins directly from us at a fixed price. They will give us Bitcoin, Ethereum or Fiat Currency and we will give them IMM Coins, we will use that money to develop education system and Organize LIVE event and buy back the IMM Coin from profits.
                    .card
                        #headingFour.card-header(role='tab')
                            h5.mb-0 
                                a(data-toggle='collapse', href='#collapseFour', aria-expanded='true', aria-controls='collapseTwo') HOW WILL CONTRIBUTORS GET THEIR MONEY BACK?
                        #collapseFour.collapse(role='tabpanel', aria-labelledby='headingFour', data-parent='#accordion')
                            .card-body Once per quarter on a pre-announced date, we will take 50% of the net profits generated by our education system and use it to buy back as many IMM Coin as we can. Holders will offer their iMM Coins for sale on the market and we will buy them back starting with the cheapest first. Once the buyback budget has been exhausted, all iMM Coins purchased within that budget will be permanently burned. This reduces the total remaining supply and increases the scarcity of the coins that remain.
                    .card
                        #headingFive.card-header(role='tab')
                            h5.mb-0 
                                a(data-toggle='collapse', href='#collapseFive', aria-expanded='true', aria-controls='collapseTwo') HOW MUCH WILL CONTRIBUTORS MAKE?
                        #collapseFive.collapse(role='tabpanel', aria-labelledby='headingFive', data-parent='#accordion')
                            .card-body iMM Coin holders have to compete for the money on buy back day. Hence they can either set a low price and sell their IMM Coins more quickly, or set a higher price and wait longer for the market price to reach that level. This means a longer wait but a larger return. We cannot say what the return will be.
        
                 
        #footer.top-clip.content

        include ./partials/footer 
        script(src='/js/minified/TimelineMax.min.js')
        script(src='/js/minified/TweenMax.min.js')
        script(src='/js/particles.min.js')
        script(src='/js/jquery.countdown.min.js')
        script(src='/js/jquery.bgswitcher.js')
        script(src='/js/index.js')
            
            