extends ./partials/layout 
block content
    #home
        include ./partials/header
        #landing.bottom-clip.content
                .content-text-container
                    .desc.container
                        h1 We are Asia's leading  enable live Event Organiser, who provides quality education online and offline, through partnering with top experts around the Globe.
                        #countdown.fl
                            .fl-itm
                                svg#day
                                    circle.outline(cx="50%", cy="50%", r="80")
                                    circle.cover(cx="50%", cy="50%", r="80")
                                    text(x="50%", y="50%") 
                                        tspan.time(dy='1.2em', x='50%', y="30%")
                                        tspan.unit(dy='1.2em', x='50%', y="50%")
                            .fl-itm
                                svg#hour
                                    circle.outline(cx="50%", cy="50%", r="80")
                                    circle.cover(cx="50%", cy="50%", r="80")
                                    text(x="50%", y="50%") 
                                        tspan.time(dy='1.2em', x='50%', y="30%")
                                        tspan.unit(dy='1.2em', x='50%', y="50%")
                            .fl-itm
                                svg#min
                                    circle.outline(cx="50%", cy="50%", r="80")
                                    circle.cover(cx="50%", cy="50%", r="80")
                                    text(x="50%", y="50%") 
                                        tspan.time(dy='1.2em', x='50%', y="30%")
                                        tspan.unit(dy='1.2em', x='50%', y="50%")
                            .fl-itm
                                svg#sec
                                    circle.outline(cx="50%", cy="50%", r="80")
                                    circle.cover(cx="50%", cy="50%", r="80")
                                    text(x="50%", y="50%") 
                                        tspan.time(dy='1.2em', x='50%', y="30%")
                                        tspan.unit(dy='1.2em', x='50%', y="50%")

        #profit.mid-clip.content
            .angled-container
                h1.title PROFIT FROM IMC IN 4 DIFFERENT WAYS
                .separator
                .row
                    each val in data
                        .col-sm-3
                            .col-container
                                .card(style='width: 20em')
                                    .card-block
                                        h4.card-title= val.title
                                        p.card-text= val.content
        #whyIMM.mid-clip.content
            .angled-container
                h1.title WHY IMM COIN
                .separator
                .row
                    .col-md-3
                        div
                            include ../../assets/images/whyIMM/trade.svg

                
        #timeline.mid-clip.content

            
        
        #team.mid-clip.content
            .angled-container
                h1.title IMM TEAM
                .separator
                .container
                    .fl
                        each val in members
                            .team-card-container.fl-itm
                                .team-img-container
                                    .img-container
                                        img(src='' + val.image +'')
                                .team-name= val.name
                                .team-position= val.position
                                .team-description= val.description
                                .team-links
                        

        #about.mid-clip.content
        
        #footer.top-clip.content

        include ./partials/footer 
        script(src='/js/particles.min.js')
        script(src='/js/jquery.countdown.min.js')
        script(src='/js/jquery.bgswitcher.js')
        script(src='/js/index.js')
        script.
            
            